@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
/* Global Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
   font-size: 62.5%;
}

ul {
    list-style: none;
}

body {
    .border-primary {
        border-color: #03a9f4!important;
    }
}



/* Info container */
.container-info {
    width: 75rem;
    border: 2px $cyan-600 solid;
    background-color: #eceff1;
    .user{
        span {
            
        }
    }
    .wrong-tries{
        span {

        }
    }
}


/* Start Game Container */
.memory-game-container {
    width: 75rem;
    &.no-click {
        pointer-events: none;
    }
    .card {
        height: 15rem;
        position: relative;
        transform-style: preserve-3d;
        transform-origin: center center;
        transition: transform .5s linear;
        border: 2px $cyan-600 solid;
        cursor: pointer;
        flex: 1 0 15rem;
       &.flip, &.has-match {
            transform: rotateY(180deg);
            pointer-events: none;
        
       }
        .face {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            &.back {
                transform: rotateY(-180deg);
                // background: rgb(110, 92, 92);
                background: $teal-100;
            }
            &.font {
                background: $cyan-200;
                // transform: rotateX(0);
                // background: rgb(141, 224, 192);
                font-size: 6rem;
                font-weight: 800;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #2196f3e3;
    
    .btn {
        width: 20rem;
        line-height: 3rem;
    }
}

.btn {
    z-index: 1000;
}       